<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}QuantChip{% endblock %}</title>
      <!-- jQuery (required for DataTables) -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- DataTables CSS + JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
  <nav class="qc-nav">
    <ul class="qc-menu">
      <li class="brand"><a href="{{ url_for('upload') }}">QuantChip</a></li>
      <li><a href="{{ url_for('upload') }}">Upload</a></li>
      <li><a href="{{ url_for('analytics') }}">Analytics</a></li>

      <li class="spacer"></li>

      {% if session.get('user_id') %}
        <li><a href="{{ url_for('profile') }}">Account</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>


    <div class="main-content">
    {% block content_wrapper %}
    <div class="container">

        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</div>

</body>
</html>
