{% extends "layout.html" %}

{% block title %}Register | QuantChip{% endblock %}

{% block content %}
    <h2>Register</h2>
    <br>
    <form method="post">
        <input type="text" name="username" class="auth-input" placeholder="Username" required>
        <input type="text" name="email" class="auth-input" placeholder="Email" required>
        <input type="password" name="password" class="auth-input" placeholder="password" required>

        <button type="submit">Register</button>
    </form>
    <br>
    <p class="switch">
        Already have an account? <a href="{{ url_for('login') }}">Login</a>
    </p>
{% endblock %}
